@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Elements  */
.primary-background {
  @apply bg-neutral-100;
  @apply dark:bg-black;
}

.primary-text {
  @apply text-neutral-950;
  @apply dark:text-neutral-50;
}

.primary-link {
  border: none;
  outline: none;
  @apply text-transparent bg-clip-text bg-gradient-to-br from-[#F9386D] to-[#F6781A];
  @apply disabled:text-neutral-200;
  @apply dark:disabled:text-neutral-700;
}

.primary-element {
  @apply text-neutral-500;
  @apply dark:text-neutral-400;
}

.primary-divider {
  @apply divide-y;
  @apply divide-neutral-900/10;
  @apply dark:divide-neutral-50/10;
}

.primary-button {
  @apply rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 disabled:opacity-75;
  @apply text-white bg-gradient-to-br from-[#F9386D] to-[#F6781A];

  @apply disabled:from-neutral-900 disabled:to-neutral-700;
  @apply dark:disabled:from-neutral-600 dark:disabled:to-neutral-400;
}

.primary-button-mini {
  @apply px-2 rounded-md ml-2;
  @apply text-white bg-gradient-to-br from-[#F9386D] to-[#F6781A];
}

.primary-card {
  @apply bg-white;
  @apply dark:bg-neutral-900;
}

.primary-gradient {
  @apply bg-gradient-to-t from-neutral-100 pt-[7%];
  @apply dark:bg-gradient-to-t dark:from-black dark:pt-[7%];
}

.primary-input {
  outline: none;
  @apply text-neutral-950;
  @apply block w-full rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset  sm:text-sm sm:leading-6 focus:ring-[#FF5320];
  @apply ring-neutral-300;
  @apply dark:ring-neutral-700;
}

.primary-checkbox {
  outline: none;
  @apply text-[#FF5320] focus:ring-[#FF5320];
}

/* Secondary Elements */

.secondary-text {
  @apply text-neutral-600;
  @apply dark:text-neutral-400;
}

.secondary-link {
  @apply text-neutral-800;
  @apply dark:text-neutral-200;
}

.secondary-divider {
  @apply divide-neutral-900/5;
  @apply dark:divide-neutral-50/5;
}
.secondary-group-hover {
  @apply group-hover:text-white;
  @apply text-neutral-600;
  @apply dark:text-neutral-400;
}

.secondary-background-group-hover {
  @apply group-hover:bg-gradient-to-br group-hover:from-[#F9386D] group-hover:to-[#F6781A];
}

/* Tertiary Elements */

.tertiary-text {
  @apply text-neutral-400;
  @apply dark:text-neutral-500;
}

.tertiary-link {
  @apply text-[#FF5320] hover:text-[#FF3F42];
}

/* Alerts */

.alert-error-background {
  @apply bg-red-50 dark:bg-red-950;
}
.alert-error-icon {
  @apply text-red-400 dark:text-red-500;
}
.alert-error-title {
  @apply text-red-800 dark:text-red-400;
}
.alert-error-description {
  @apply text-red-700 dark:text-red-500;
}

.alert-info-background {
  @apply bg-blue-50 dark:bg-blue-950;
}
.alert-info-icon {
  @apply text-blue-400 dark:text-blue-500;
}
.alert-info-title {
  @apply text-blue-800 dark:text-blue-400;
}
.alert-info-description {
  @apply text-blue-700 dark:text-blue-500;
}

.alert-warn-background {
  @apply bg-yellow-50 dark:bg-yellow-950;
}
.alert-warn-icon {
  @apply text-yellow-400 dark:text-yellow-500;
}
.alert-warn-title {
  @apply text-yellow-800 dark:text-yellow-400;
}
.alert-warn-description {
  @apply text-yellow-700 dark:text-yellow-500;
}

/* Custom Elements */

.numerical-data {
  @apply font-mono text-right;
}
.day-selected:not([disabled]) {
  @apply bg-gradient-to-br from-[#F9386D] to-[#F6781A] text-neutral-50;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  @apply bg-neutral-200;
  @apply dark:bg-neutral-700;
}

.status-success-background {
  @apply bg-green-400;
}

.status-success {
  @apply bg-green-600;
  @apply dark:bg-green-400;
}

.status-error-background {
  @apply bg-rose-400;
}

.status-error {
  @apply bg-rose-600;
  @apply dark:bg-rose-400;
}

.progress-gradient,
.background-gradient {
  @apply bg-gradient-to-br from-[#F9386D] to-[#F6781A];
}

.fenix-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-[#F9386D] to-[#F6781A];
}

.glass,
.glass:hover,
.glass.btn-active,
.tab-lifted.glass {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  box-shadow: 0 0 0 1px rgb(255 255 255 / var(--glass-border-opacity, 10%)) inset, 0 0 0 2px rgb(0 0 0 / 5%);
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}

.rdp {
  --rdp-accent-color: #ff5320;
  --rdp-background-color: transparent !important;
}

@media (prefers-color-scheme: dark) {
  select option {
    background-color: #000000;
  }
}
